.adventures_fil {
    background-color: #F5FAFF;
}
.adventures_cover {
    background: url(../img/adventures/adv_cover.png);
    background-size: cover;
    padding: 40px 0 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.adventures_cover h1{
color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0px;
}
.h1des{
color: #fff;
font-size: 20px;
font-weight: 300;
line-height: 24px;
margin-top: 10px;
}
.adventures_cover-search{
  background: #fff;
  padding: 15px 10px;
  width: 100%;
  margin: 24px 0 8px;
  border-radius: 0px
}
.adventures_cover-search input{
  border:  1px solid #004282;
  height: 36px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}


.adventures_cover .adventures_links{
    margin-top: 10px;
}
.adventures_cover .adventures_links a{
    color: #fff;
    border-bottom: 1px solid;
    line-height: 32px;
    display: inline-block;
    margin-right: 10px;
    height: 33px;
}

.adventures_cover .adventures_links a:hover{
    text-decoration: none;
    border-bottom: 2px solid;
}
.adventures_cover .adventures_links a.now_open{
    text-decoration: none;
    border-bottom: none;
}

.adventures_cover h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0px;
}
.floating_block_content {
    padding-bottom: 1px;
}
a.btn__bl_map {
    color: #fff;
    background: #2C6CA7;
    border-radius: 50px;
    padding: 6px 16px 6px 40px;
    font-size: 16px;
    font-weight: 300;
    margin: 20px auto 0px;
 background: url(../img/adventures/fa-regular_map.png),#2C6CA7;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 10% 60%;
}
a.btn__bl_map_off{
    background: url(../img/adventures/ic_baseline-view-module.png),#2C6CA7;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 9% 58%;
}
a.btn__bl_map:hover {
    color: #fff;
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.5);
            box-shadow: inset 0 1px 4px rgba(0,0,0,.5);

}
.adventures_filters {
    padding-left: 15px;
}
.adventures_filters h4{
    font-size: 32px;
}
.adventures_filters h4 span{
    width: 34px;
    height: 35px;
    vertical-align: sub;
    background:url(../img/adventures/ic_round-tune.png);
    display: inline-block;
    background-size: cover;
}



.adventures_filters .panel-heading {
    padding: 0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #000;
}

.adventures_filters a{
    color: #000;
    text-decoration: none;
}

.adventures_filters .panel.panel_m_range {
    text-decoration: none;
}
.adventures_filters .panel.panel_m_range  li a{
    background: none;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    vertical-align: sub;
}

.adventures_filters .panel_m_range ul {
    text-decoration: none;
}
.adventures_filters input{
        margin: 6px 5px 0 0;
}

.no_a_events{
    pointer-events: none;
}

.adventures_filters label{
  display: inline-block;
    position: relative;
    padding-left: 20px;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.adventures_filters label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background:url(../img/adventures/check-square.png);
    background-size: cover;
}
.adventures_filters input[type="checkbox"]:checked + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background: none;
}
.adventures_filters input[type="checkbox"]:checked + label:after{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background:url(../img/adventures/check-square_on2.png);
    background-size: cover;
}

.adventures_filters input[type="checkbox"]:checked,
.adventures_filters input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}

.direction_all {
    margin-bottom: 4px;
    display: inline-block;
}
.adventures_filters .panel.panel_m_range {
    margin-bottom: 10px;
    display: block;
}
.center_btn.apply_fil{
    margin-left: -15px;
    margin-top: 20px;
}
.clear {
clear: both;
}
.steps_plan{
   background: #FFF8F0;
       margin-left: -15px;
    margin-right: -15px;
}

.steps_card{
    text-align: center;
    padding: 0 8px;
}
.steps_card_img{
    width: 100%;
    height: 84px;
    background-size: 64px 64px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.steps_card_img.s1{
    background-image: url(../img/adventures/s1.png);
}
.steps_card_img.s2{
    background-image: url(../img/adventures/s2.png);
}
.steps_card_img.s3{
    background-image: url(../img/adventures/s3.png);
}
.steps_card_img.s4{
    background-image: url(../img/adventures/s4.png);
}
.steps_card_img.s5{
    background-image: url(../img/adventures/s5.png);
}

.steps_card h5{
    font-weight: bold;
}

.steps_card p{
    font-weight: normal;
}
section.directions_card .row-flex .col20{
    white-space: normal;
}

.mob_fixed_b {
    font-size: 14px;
    position: fixed;
    padding: 10px 24px;
    bottom: 0px;
    background: #fff;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 0 20px #00000040;
            box-shadow: 0 0 20px #00000040;
}

.mob_fixed_b a:first-child {
    margin-right: 10px;
    margin-top: 0px;
}

.btn__ora_map{
    color: #fff;
    background: #F96915;
    border-radius: 50px;
    padding: 6px 16px 6px 40px;
    font-size: 16px;
    font-weight: 300;
    background: url(../img/adventures/fa-regular_map.png),#F96915;
    background-repeat: no-repeat;
    background-size: 18px, 110%;
    background-position: 12%;
}

.btn__ora_filters{
    color: #fff;
    background: #F96915;
    border-radius: 50px;
    padding: 6px 16px 6px 40px;
    font-size: 16px;
    font-weight: 300;
    background: url(../img/adventures/fw.png),#F96915;
    background-repeat: no-repeat;
    background-size: 18px, 110%;
    background-position: 12%;
}


.m_filt_us button.close {
    width: 36px;
    height: 36px;
    background-color: #f96915;
    border-radius: 36px;
    opacity: 1;
}

.m_filt_us button.close span {
    width: 36px;
    height: 36px;
    background: url(../img/page_main/maki_cross-11.png);
    background-size: 20px;
    background-position: 50% 50%;
    border-radius: 36px;
    display: block;
    background-repeat: no-repeat;
}

.m_filt_us .modal-title {
    float: left;
}
.adv_map_p{
    margin-top: 20px;
}

.adventures_activ .location4collection {
    display: block;
    margin-bottom: 6px;
}
.adventures_colle .location4collection {
    display: block;
    margin-bottom: 6px;
}


span.panel__ms-name_toggle {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: inline-block;
}
.adventures_filters label {
    vertical-align: top;
}
.adventures_filters .panel.panel_m_range li a {
    vertical-align: top;
}

.collection-card-body {
    white-space: normal;
}
.center_btn_modal .btn__ora_filters {
    border-radius: 50px;
}

.floating_block{
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
        overflow: visible;
    overflow-y: unset;
}






@media (max-width: 767px){

.center_btn_modal .btn__ora_filters {
    border-radius: 50px;
}

.adventures_cover-search input {
  width: calc(100% - 98px);
}
.col20{
        min-width: 42%;
}
}
@media (min-width: 768px) and (max-width: 992px){
.adventures_cover-search input {
  width: calc(100% - 98px);

}
.steps_plan{
    margin-left: -15px;
    margin-right: -15px;
}
.col20{
    width: 20%
}

}
@media (max-width: 992px){
.steps_plan{
    margin-left: -15px;
    margin-right: -15px;
}

}

@media (min-width: 993px){
.adventures_cover h1 {
    font-size: 52px;
}
  .adventures_cover{
    height: 300px;
}
.adventures_cover h1{
  font-size: 52px;
}
.adventures_cover-search input{
  width: 470px;
}
.adventures_cover-search{
  background: #fff;
  padding: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.steps_plan{
    margin-left: 0px;
    margin-right: 0px
}
.col20{
    width: 20%
}

}

@media (min-width: 1200px){


.floating_block {
    width: 25%;
float: right;
height: auto;
   padding-left: 15px;
margin-bottom: 50px;
}


.stat_pc_block {
width: 75%;
float: left;
height: auto;

}


.clear {
clear: both;
}

}







