.regular-modal{
    background: #fbfbfd;
}
.regular-modal *{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.modal .regular-modal .modal-header h4{
    margin-top: 0px;
}
.modal .regular-modal .modal-header .close{
    margin-top: 0px;
    font-weight: 100;
    font-size: 28px;
}
.modal .regular-modal .modal-header {
    border-bottom: 1px solid #eee;
    padding: 14px 20px 10px;
}

.regular-modal .selection-buttons{
    padding: 10px 10px 10px;
}
.selection-buttons a{
    text-decoration: none;
    color: #555;
    border: 1px solid #ccc;
    padding: 10px 10px 9px 12px;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    display: inline-block;
}
.selection-buttons a:hover{
    background-color: #f3f3f3;
    text-decoration: none;
}
.dialog-edit-image__page-edit-tools{
    margin: 20px 10px;
}
.dialog-edit-image__page-edit-tools{
    margin: 10px 10px 0;
}
.dialog-edit-image__page-edit-tools a{
    margin-right: 10px;
    text-decoration: none;
    color: #777;
    border: 1px solid #e6e6e6;
    padding: 4px 10px 5px 12px;
    border-radius: 20px;
    margin: 0 6px 6px 0;
    display: inline-block;
}
.dialog-edit-image__page-edit-tools a:hover{
    background-color: #f3f3f3;
    text-decoration: none;
}
.modal-content.regular-modal .modal-footer {
    text-align: inherit;
    padding: 10px 20px 20px;
}
.action-buttons button {
    background: #fff;
    cursor: pointer;
    border-radius: 24px;
    line-height: 14px;
    font-size: 16px;
    padding: 13px 16px 13px 16px;
    outline: 0;
    color: #1872ca;
    border: 1px solid #1872ca;
    vertical-align: middle;
    height: 45px;
    box-sizing: border-box;
    outline: none;
}
.action-buttons button:hover {
    border: 1px solid #1872ca;
    background-color: #f3f3f3;
}
.action-buttons button.action-buttons__main{
    color: #fff;
    background: #1872ca;
    margin-right: 10px;
}
.action-buttons button.action-buttons__main:hover{
    border: 1px solid #1872ca;
    background: #0965bf;
}
.float-right{
    float: right;
}
.dialog-edit-image__page-image-gallery li, .dialog-edit-image__page-image-recent li{
    display: inline-block;
}
.dialog-edit-image__page-image-gallery li img, .dialog-edit-image__page-image-recent li img{
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.8;
}
.dialog-edit-image__page-image-gallery li img:hover, .dialog-edit-image__page-image-recent li img:hover{
    opacity: 1;
}
.dialog-edit-image__page-image{
    display: block;
    height: 412px;
    overflow-y: scroll;
}
.dialog-edit-image__page-image h4{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.default-input{
    display: block;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}
.dialog-send-message-users__list .avatar {
    display: inline-block;
}
.dialog-send-message-users__list .avatar img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.dialog-send-message-users__list .title{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    vertical-align: bottom;
}
.dialog-send-message-users__list span.remove{
    vertical-align: bottom;
    line-height: 32px;
    margin-left: 10px;
    color: #1872ca;
    cursor: pointer;
}
.dialog-send-message-users__list {
    margin: 10px 0 20px;
}
.dialog-send-message__text textarea{
    resize: none;
    box-sizing: border-box;
    width: 100%;
}
.dialog-send-message-users__list{
    margin: 10px 0 20px;
}
.default-textarea{
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: 0;
    margin-bottom: 10px;
    background: #fff;
}
.dialog-send-message-file__btn-add, .dialog-send-message-file__list .del{
    color: #1872ca;
    cursor: pointer;
}
.dialog-send-message-file__list img{
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 6px;
}
.dialog-send-message-file__list li{
    list-style: none;
}
.dialog-send-message-file__list .del{
    display: inline-block;
    margin-left: 10px;
    line-height: 48px;
    vertical-align: top;
    height: 48px;
}
