.regular-modal *{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.modal .regular-modal h4{
 margin-top: 0px;
}
.modal .regular-modal .modal-header .close{
    margin-top: 0px;
    font-weight: 100;
    font-size: 28px;
}
.modal .regular-modal .modal-header {
    border-bottom: 1px solid #eee;
    padding: 14px 20px 10px;
}

.regular-modal .selection-buttons{
    padding: 10px 10px 20px;
}
.selection-buttons a{
    text-decoration: none;
    color: #555;
    border: 1px solid #ccc;
    padding: 10px 10px 9px 12px;
    border-radius: 20px;
    margin-right: 10px;
    display: inline-block;
}
.selection-buttons a:hover{
    background-color: #f3f3f3;
    text-decoration: none;
}
.dialog-edit-image__page-edit-tools{
    margin: 20px 10px;
}
.dialog-edit-image__page-edit-tools{
    margin: 10px 10px 0;
}
.dialog-edit-image__page-edit-tools a{
    margin-right: 10px;
    text-decoration: none;
    color: #777;
    border: 1px solid #e6e6e6;
    padding: 4px 10px 5px 12px;
    border-radius: 20px;
    margin-right: 6px;
    display: inline-block;
}
.dialog-edit-image__page-edit-tools a:hover{
    background-color: #f3f3f3;
    text-decoration: none;
}
.modal-content.regular-modal .modal-footer {
    text-align: inherit;
    padding: 10px 20px 20px;
}
.action-buttons button {
    background: #fff;
    cursor: pointer;
    border-radius: 24px;
    line-height: 14px;
    font-size: 16px;
    padding: 13px 16px 13px 16px;
    outline: 0;
    color: #1872ca;
    border: 1px solid #1872ca;
    vertical-align: middle;
    height: 45px;
    box-sizing: border-box;
    outline: none;
}
.action-buttons button:hover {
    border: 1px solid #1872ca;
    background-color: #f3f3f3;
}
.action-buttons button.action-buttons__main{
    color: #fff;
    background: #1872ca;
}
.action-buttons button.action-buttons__main:hover{
    border: 1px solid #1872ca;
    background: #0965bf;
}
.float-right{
    float: right;
}
.dialog-edit-image__page-image-gallery li, .dialog-edit-image__page-image-recent li{
    display: inline-block;
    margin: 2px
}
.dialog-edit-image__page-image-gallery li img, .dialog-edit-image__page-image-recent li img{
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.8;
}
.dialog-edit-image__page-image-gallery li img:hover, .dialog-edit-image__page-image-recent li img:hover{
    opacity: 1;
}

