.mp-list-values ul{
    list-style: none;
}

.mp-list-values ul li{
    background: url(https://mpsite.mpdev.info/images/climb/_general/check_00aeef.svg) no-repeat left top 4px;
    background-size: 16px 16px;
}

@media only screen and (max-width: 575px){
.mp-list-values li{
    color: #00aeef;
    text-align: left;
    line-height: 24px;
    padding-left: 24px;
    margin-bottom: 10px;
}
.mp-list-values ul{
    padding-inline-start: 20px;
    margin-bottom: 24px;
}
.mp-organisation {
    margin: 24px 0 30px;
}
}

@media only screen and (min-width: 575px){
.mp-list-values li{
    color: #024285;
    text-align: left;
    line-height: 24px;
    padding-left: 24px;
    margin-bottom: 10px;
}
.mp-list-values ul{
    margin-bottom: 24px;
    margin-left: 153px;
    background: #fff;
    padding: 20px;

}

}