.profile_tabs_expedition.profile_tabs ul li.ui-state-active a, .profile_tabs_expedition.profile_tabs ul li.active a {
    box-shadow: none;
    background: none;
    color: #1872ca;
    border-bottom: 3px solid #1872ca;
}

.profile_tabs_expedition.profile_tabs ul li {
    border: none;
}


.profile_tabs_expedition.profile_tabs ul li a {
    font-weight: 300;
    font-size: 18px;
}

.profile_tabs_expedition.profile_tabs {
    border-bottom: 1px solid #d7e3e3;
    margin-bottom: 40px;
}

.profile_tabs_expedition.profile_tabs ul.ui-tabs-nav li a:hover {
    background: none;
    color: #00aeef;
    border-bottom:3px solid #00aeef;
}