
/* expedition */
.u_img_group img {
    border-radius: 12px;
}
.is-mobile.expedition_view .u__wrap_comments_all .u_img_group img{
    border-radius: 6px;
    margin-right: 6px;
}
.is-mobile.expedition_view .u__wrap_comments_all .comment_form .n__photo_u{
    display: none;
}
.is-mobile.expedition_view .u__wrap_comments_all .comment_form .s__textarea_wrap{
    margin-left: 10px;
    margin-right: 56px;
}
.is-mobile.expedition_view .u__wrap_comments_all .comment_form .textarea_around_block{
    margin-top: 0px;
    float: right;
    position: absolute;
    top: 28px;
}

.tabs__content .newsfeed__block_top {
    border: none;
    background: none;
}

.my__tabs_block .my_tabs li.active_page{
    border-bottom: 2px solid #00aeef;
}

.my__tabs_block .my_tabs li {

    font: 300 16px/100% "Roboto",Arial;
}




/* expedition end*/