ul.navbar-nav--contact {
    list-style: none;
    margin-top: 24px;
    margin-bottom: 0;
    position: absolute;
    right: 0px;
    font-weight: 300;
    font: normal 16px/100% Arial;
}

ul.navbar-nav--contact li {
    display: inline-block;
    margin-left: 20px;
}

ul.navbar-nav--contact li span {
    color: #999;
    font-size: 14px;
    margin-left: 4px;
}
.mp-contact-header-mobile.is-mobile {
    position: absolute;
    right: 10px;
    top: 0px;
}
.mp-contact-header-mobile.is-mobile span{
    color: #999;
}

@media only screen and (max-width: 330px){
.mp-contact-header-mobile.is-mobile {
    font-size: 12px;
}
}
