.mp-list-values ul{
    list-style: none;
}

.mp-list-values ul li{
    background: url(https://mpsite.mpdev.info/images/climb/_general/check_bold_00aeef.svg) no-repeat left top 4px;
    background-size: 14px 14px;
}

@media only screen and (max-width: 575px){
.mp-list-values li{
    color: #00aeef;
    text-align: left;
    line-height: 24px;
    padding-left: 24px;
    margin-bottom: 10px;
}
.mp-list-values ul{
    padding-inline-start: 20px;
    margin-bottom: 24px;
}
.mp-organisation {
    margin: 24px 0 30px;
}
}

@media only screen and (min-width: 576px) and (max-width: 991px){
.mp-list-values li{
color: #024285;
    text-align: left;
    line-height: 16px;
    padding-left: 24px;
    margin-bottom: 4px;
}
.mp-list-values ul{
    margin-bottom: 10px;
    background: rgba(255,255,255,.8);
    padding: 10px 10px 10px 20px;
    border-radius: 4px;
}

}
@media only screen and (max-width: 991px) and (min-width: 768px){
.mp-carousel img {
    height: 350px;
}}


@media only screen and (min-width: 992px){
.mp-list-values li{
color: #024285;
    text-align: left;
    line-height: 24px;
    padding-left: 24px;
    margin-bottom: 4px;
}
.mp-list-values ul{
    margin-bottom: 10px;
    margin-left: 153px;
    font-size: 16px;
    background: rgba(255,255,255,.8);
    padding: 20px 10px 10px 20px;
    width: 700px;
    border-radius: 4px;
}

}


ul.navbar-nav--contact {
    list-style: none;
    margin-top: 50px;
}

ul.navbar-nav--contact li {
    display: inline-block;
    margin-left: 20px;
}

ul.navbar-nav--contact li a {
    color: #00aeef;
}