.add-users-group__list li a img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.left_set_create_mess ul li {
    position: relative;
}

.left_set_create_mess .add-users-group__list li a {
    display: block;
    text-decoration: none;
    vertical-align: middle;
    padding: 4px 4px 4px 10px;
}
ul.add-users-group__list {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.message-dialog-other-user__title{
    text-align: center;
    margin: 30px 0 10px 0px;
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #999;
}

.add-users-group__filter{
    padding: 6px 10px 4px;
}

a.dia_right_sidebar__list-load, a.dia_right_sidebar__list-go-top {
    text-align: center;
    display: block;
    margin: 15px;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 300;
}
a.dia_right_sidebar__list-load:hover, a.dia_right_sidebar__list-go-top:hover{
    background: aliceblue;
}