.country-phone{
    font-size: 14px;
    display: inline-block;
    width: 231px;
    margin-left: 20px;
    padding: 10px 5px 8px 10px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    line-height: 20px;
    background: #fff;
}
input.form-check-availability__phone {
    display: inline-block;
    border: none;
    width: 150px;
}